{% extends "base.html" %}

{% block body %}
    {% if error_message %}
        <p class="alert">{{ error_message }}</p>
    {% endif %}


    <form method="post" class="form-inline">
        {% csrf_token %}
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control mx-sm-3" placeholder="Enter email" id="email" name="email">
        </div>
        <br>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control mx-sm-3" placeholder="Enter password" id="pwd" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


{% endblock %}
